<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-01-13T21:04:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aleksandrsemenov/Documents/Apps/T-2hw/T-2hw.xcodeproj</string>
</dict>
</plist>
